--extra-index-url https://download.pytorch.org/whl/cu121

numpy<2
torch==2.5.1+cu121
torchaudio==2.5.1+cu121

transformers>=4.47,<5
coqui-tts>=0.24,<1.0
flask>=3.0,<4.0
pydub>=0.25,<1.0
soundfile>=0.12,<1.0
